@{
    Car car = Model;
}

<link href="~/css/select2.min.css" rel="stylesheet" />

<div class="container">
    <form method="post">
        <div class="form-text">
            <div class="col-sm-8"><h2>Edit car</h2></div>
        </div>

        <input type="hidden" name="carId" value="@car.Id">

        <div class="mb-3">
            <label for="carBrandInput" class="form-label">Brand</label>
            <select name="carBrandId" id="carBrandInput" class="form-select" aria-label=".form-select-sm example" required>
            </select>
        </div>
        <div class="mb-3">
            <label for="carModelInput" class="form-label">Model</label>
            <select name="carModelId" id="carModelInput" class="form-select" aria-label=".form-select-sm example" required>
            </select>
        </div>

        <div class="mb-3">
            <label for="registrationNumberInput" class="form-label">Registration number</label>
            <input name="registrationNumber" value="@car.RegistrationNumber" type="text" class="form-control" id="registrationNumberInput" required>
        </div>

        <div class="mb-3">
            <label for="fuelCapacityInput" class="form-label">Fuel capacity</label>
            <input name="fuelCapacity" type="number" value="@car.FuelCapacity" class="form-control" id="fuelCapacityInput" required>
        </div>

        <div class="mb-3">
            <label for="numberOfSeatsInput" class="form-label">Number of seats</label>
            <input name="numberOfSeats" type="number" value="@car.NumberOfSeats" class="form-control" id="numberOfSeatsInput" required>
        </div>

        <div class="mb-3">
            <label for="priceInput" class="form-label">Price</label>
            <div class="input-group">
                <input name="price" type="number" value="@car.Price" class="form-control" id="priceInput" required>
                <span class="input-group-text">$</span>
            </div>
        </div>

        <div class="mb-3">
            <label for="mileageInput" class="form-label">Mileage</label>
            <input name="mileage" value="@car.Mileage" type="number" class="form-control" id="mileageInput" required>
        </div>

        <div class="mb-3">
            <label for="engineTypeInput" class="form-label">Engine type</label>
            <select name="engineTypeId" id="engineTypeInput" class="form-select" aria-label=".form-select-sm example" required>
            </select>
        </div>

        <div class="mb-3">
            <label for="embeddedDevicesInput" class="form-label">Embedded devices</label>
            <select name="embeddedDevicesIds" id="embeddedDevicesInput" class="form-select" aria-label=".form-select-sm example" multiple="multiple">
                @foreach (EmbeddedDevice embeddedDevice in car.EmbeddedDevices!)
                {
                    <option value="@embeddedDevice.Id" selected="selected">@embeddedDevice.Name</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>


@section Scripts {
    <script src="~/js/select2.min.js"></script>
    <script>
        let oldSelectedModelId = @car.Model!.Id;
        let oldSelectedBrandId = @car.Model!.Brand!.Id;
        let oldEngineTypeId = @car.EngineType!.Id;

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCarBrands", "Car")",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (i, item) {
                        if (item.id == oldSelectedBrandId) {
                            $("#carBrandInput").append($("<option>", {
                                value: item.id,
                                text: item.name
                            }).attr("selected", "selected"));
                        }
                        else {
                            $("#carBrandInput").append($("<option>", {
                                value: item.id,
                                text: item.name
                            }));
                        }
                    });

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetCarModels", "Car")",
                        dataType: "json",
                        data: { brandId: oldSelectedBrandId },
                        success: function (carModelResult) {
                            $.each(carModelResult, function (i, item) {
                                if (item.id == oldSelectedModelId) {
                                    $("#carModelInput").append($("<option>", {
                                        value: item.id,
                                        text: item.name
                                    }).attr("selected", "selected"));
                                }
                                else {
                                    $("#carModelInput").append($("<option>", {
                                        value: item.id,
                                        text: item.name
                                    }));
                                }
                            });

                            console.log(carModelResult);
                        }
                    });

                    console.log(result);
                }
            });

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEngineTypes", "Car")",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (i, item) {
                        if (item.id == oldEngineTypeId) {
                            $("#engineTypeInput").append($("<option>", {
                                value: item.id,
                                text: item.name
                            }).attr("selected", "selected"));
                        }
                        else {
                            $("#engineTypeInput").append($("<option>", {
                                value: item.id,
                                text: item.name
                            }));
                        }
                    });
                    console.log(result);
                }
            });

            $("#embeddedDevicesInput").select2({
                placeholder: "Select",
                ajax: {
                    type: "POST",
                    url: "@Url.Action("GetEmbeddedDevices", "Car")",
                    dataType: "json",
                    data: function (params) {
                        return {
                            searchWord: params.term
                        };
                    },
                    processResults: function (data, params) {
                        console.log(data);
                        return {
                            results: data
                        };
                    }
                }
            });

            $("#carBrandInput").change(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetCarModels", "Car")",
                    dataType: "json",
                    data: { brandId: $(this).val() },
                    success: function (result) {
                        $("#carModelInput").empty()

                        $.each(result, function (i, item) {
                            $("#carModelInput").append($("<option>", {
                                value: item.id,
                                text: item.name
                            }));
                        });

                        $("#carModelInput").val([]);
                        console.log(result);
                    }
                });
            });
        });
    </script>
}
